
.row {
  display: flex;
  justify-content: center;
}

.left-pane {
  display: flex;
  width: 322px;
  transform: rotate(10deg);
}

.right-pane {
  display: flex;
  width: 322px;
  justify-content: flex-end;
  transform: rotate(-10deg);
}

.left-pane-row-0 {
  margin-right: 0px;
}

.right-pane-row-0 {
  margin-left: 0px;
}

.left-pane-row-1 {
  margin-right: 10px;
}

.right-pane-row-1 {
  margin-left: 10px;
}

.left-pane-row-2 {
  margin-right: 20px;
}

.right-pane-row-2 {
  margin-left: 20px;
}

.left-pane-row-3 {
  margin-right: 30px;
  position: relative;
}

.right-pane-row-3 {
  margin-left: 28px;
  position: relative;
}
