
.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 720px;
  height: 330px;
}

.layer-info {
  margin-bottom: 50px;
  text-align: center;
}
