
.wrapper {
  background: #f4f4f4;
  width: 52px;
  height: 52px;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  visibility: hidden;
}

.inner {
  margin: 4px 4px 8px 4px;
  background: #fcfcfc;
  border-radius: 3px;
  width: 36px;
  height: calc(100% - 12px);
  padding: 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-legend {
  text-align: center;
}

.no-bottom .top-legend {
  padding-top: 4px;
}

.bottom-legend {
  text-align: center;
}

.indent-one {
  margin-top: -20px;
}

.indent-two {
  margin-top: -40px;
}

.left {}

.right {}
